/**Estilos para a paginação */

.pagination ul{
    box-shadow: 4px 3px 14px 3px rgba(0,0,0,0.28);
  }
  .pagination ul{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.4rem;
    border-radius: 2rem;
    
  }
  .pagination ul li{
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
    transition: ease 0.4s;
  }
  .pagination ul li.number{
    height: 45px;
    width: 45px;
    margin: 0 3px;
    border-radius: 50px;
  }
  .pagination ul li.dots{
    font-size: 22px;
  }
  .pagination i{
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    opacity: 1;
    color: currentColor;
  }
  .pagination ul li.btn-prev{
    border-radius: 25px 5px 5px 25px;
    padding: 0 20px;
  
  }
  .pagination ul li.btn-next{
    border-radius: 5px 25px 25px 5px;
    padding: 0 20px;
  }
  .pagination ul li.active{
    background-color: var(--red-home);
    color: white;
  }
  
  .pagination ul li.btn-prev:hover,
  .pagination ul li.btn-next:hover,
  .pagination ul li.number:hover{
    color: white;
    background-color: var(--red-home)
  }
  /**Fim dos estilos da paginação */